# Introducción a listas

In [1]:
planetas = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']

# Acceder a elementos de lista por índice

In [2]:
print('The first planet is - ', planetas[0])
print('The second planet is - ', planetas[1])
print('The third planet is - ', planetas[2])

The first planet is -  Mercury
The second planet is -  Venus
The third planet is -  Earth

In [3]:
planetas[3] = 'Red planet'
print('Mars is also know as - ', planetas[3])

Mars is also know as -  Red planet

# Determinar la longitud de una lista

In [4]:
numeroPlanetas = len(planetas)
print('There are ', numeroPlanetas,' planets in the solar system.')

There are  8  planets in the solar system.

# Agregar valores a la lista

In [5]:
planetas.append('Pluto') # append método para agregar al final de la lista otro elemento
numeroPlanetas = len(planetas)
print('There are actually ', numeroPlanetas, ' planets in the solar system')

There are actually  9  planets in the solar system

# Eliminar valores de la lista

In [8]:
planetas.pop() #Método para eliminar el último elemento de una lista
numeroPlanetas = len(planetas)
print('No, there are definitely ',numeroPlanetas,' planets in the solar system.')

No, there are definitely  6  planets in the solar system.

# índices negativos

In [10]:
print('Th first planet is', planetas[0])

Th first planet is Mercury

In [14]:
print('The last planet is', planetas[-1])
print('The penultimate planet is', planetas[-2])
print('The antepenultimate planet is', planetas[-3])

The last planet is Saturn
The penultimate planet is Jupiter
The antepenultimate planet is Red planet

# Buscar un valor en una lista

In [15]:
jupiterIndex = planetas.index('Jupiter')
print('Jupiter is the',jupiterIndex + 1, 'planet from the sum')

Jupiter is the 5 planet from the sum

# Trabajar con números en listas

>Almacenar números en listas

In [17]:
gravedadEarth = 1.0 # G = Gravimétros
gravedadMoon = 0.166
gravedadPlanetas = [0.378,0.907,1,0.379,2.36,0.916,0.889,1.12]

In [18]:
#Ejemplo
buskg = 12650 #  in Kilograms, on Earth
print('On Earth, a double-decker bus weighs',buskg,'kg')
print('On Mercury, a double-decker bus weighs',buskg*gravedadPlanetas[0],'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

# min() y max()

In [21]:
buskg = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', buskg, 'kg')
print('The lightest a bus would be in the solar system is', buskg * min(gravedadPlanetas), 'kg')
print('The heaviest a bus would be in the solar system is', buskg * max(gravedadPlanetas), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

# Manipular datos de lista

In [ ]:
# slicing  (Examinando solo una parte)

# Slice list

In [23]:
planetas = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
planetasAntes = planetas[0:2]
print(planetasAntes)
#La Tierra no está incluida en la lista.La razón es que el índice termina antes que el índice final.

['Mercury', 'Venus']

In [27]:
planetas = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
planetasDespues = planetas[3:8]
print(planetasDespues)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [26]:
planetasDespues = planetas[3:]
print(planetasDespues)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Unir listas

In [28]:
amaltheaMoonsGroup = ['Metis','Adrastea','Amalthea','Thebe']
galileanMoonsGroup = ['Io','Europa','Ganymede','Callisto']
regularSatelliteMoons = amaltheaMoonsGroup + galileanMoonsGroup
print('The regular satellite moons of Jupiter are',regularSatelliteMoons)
#Al unir las listas, se crea una nueva lista.No se modifica la linea actual

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

# Ordenar listas

In [29]:
regularSatelliteMoons.sort() # ordenara la lista por oden alfábético
print('The regular satellite moons of jupiter are',regularSatelliteMoons)

The regular satellite moons of jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [30]:
regularSatelliteMoons.sort(reverse=True) # el reverso
print('The regular satellite moons of jupiter are',regularSatelliteMoons)
#al usar .sort se modifica la lista actual

The regular satellite moons of jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

# EJERCICIO 1

In [33]:
planetas = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
print('There are',len(planetas),'planets')
#Agregamos a plutón y mostramos último elemento
planetas.append('pluto')
print(planetas[-1],'is the last planet')

There are 8 planets
pluto is the last planet

# EJERCICIO 2

In [37]:
planetas = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
#solicitamos nombre del planeta
planetaId = input('Name of the planet - ')
# Buscar planeta en la lista
planetaIndex = planetas.index(planetaId)
# Los planetas más cercanos al sol
print('Planets closer thatn '+planetaId)
print(planetas[0:planetaIndex])
# Los planetas más lejanos al sol
print('Planets further thatn '+planetaId)
print(planetas[planetaIndex + 1:])

Planets closer thatn Mars
['Mercury', 'Venus', 'Earth']
Planets further thatn Mars
['Jupiter', 'Saturn', 'Uranus', 'Neptune']