# Programa 1 Ximena Toledo

In [2]:
sum = 1 + 8
print(sum)

9

# LA FUNCIÓN PRINT

In [3]:
print('Hola, soy Ximena Toledo')

Hola, soy Ximena Toledo

# VARIABLES

In [4]:
sum = 1 + 8
producto = sum * 99
print(producto)

891

In [6]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string
distancia_a_alfa_centauri = 4.367 # Parece un decimal flotante
type(distancia_a_alfa_centauri)

float

# OPERADORES

In [7]:
left_side = 10
right_side = 5
left_side / right_side # 2

2.0

In [8]:
x = 2 # X contiene 2
x += 2 # 4
x -= 2 # 2
x /= 2 # 1
x += 2 # 2

# FECHAS

In [9]:
from datetime import date

In [11]:
date.today()
print(date.today())

2022-02-10

In [13]:
print("La fecha de hoy: " + str(date.today())) #No olvides el str = string

La fecha de hoy: 2022-02-10

# ENTRADA DEL USUARIO

In [14]:
print("BIENVENIDO")
nombre = input("Introduzca su nombre - ")
print("Saludos " + nombre)

BIENVENIDO
Saludos XImena

# TRABAJAR CON NÚMEROS

In [15]:
print("SUMA")
num1 =  input("Number 1 - ")
num2 =  input("Number 2 - ")
print(int(num1)+int(num2))

SUMA
3

# KATA 1

In [16]:
parsec = 11
aniosLuz = 3.26156
cantAniosLuz = parsec * aniosLuz
print(str(parsec)+" parsec, es " + str(cantAniosLuz) + " años luz")

11 parsec, es 35.877159999999996 años luz